@import 'normalize.styl'

//colors
backcolor 	= #CCC
backcolor2 	= #1E1E1E
fontcolor 	= #9FA5B3
itemcolor 	= #00B84E
orangecolor = #DB6107

//fonts 
@font-face 
	font-family "Flaticon"
	src url("../fonts/flaticon.eot")
	src url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg")
	font-weight normal
	font-style normal

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after    
	font-family Flaticon
     font-size 20px
	font-style normal
	margin-left 20px
.flaticon
	&-close:before 
		content "\e000"
	&-facebook:before 
		content "\e001"
	&-graduate:before 
		content "\e002"
	&-linkedin:before 
		content "\e003"
	&-man:before 
		content "\e004"
	&-menu:before 
		content "\e005"
	&-smart:before 
		content "\e006"
	&-tools:before 
		content "\e007"
	&-twitter:before 
		content "\e008"
	&-white
		color white
a
	text-decoration none
	
body
	background backcolor
	font-family "Open Sans"
	font-size 16px
	
figure 
	margin 0
	padding 0
	
h2
	margin 0
	padding 0 0 0 .5em
	color #1E1E1E
	
header
	background backcolor2
	text-align center
	position relative
	
.about	
	background #1E1E1E
	padding-top 38px
	text-align center
	
.about .name
	color white 
	font-size 1.5em
	
.about .image img 
	border-radius 50%

.about .bio 
	width 80% 
	margin 0 auto

.about .bio p
	color white
	text-align left
	padding .5em .8em
	word-wrap break-word
	margin 0 auto
.chart 
	position relative
	display inline-block
	width 110px
	height 110px
	margin 50px 0
	margin-left 2.5em
	text-align center
	canvas 
		position absolute
		top 0
		left 0
	.canvas-title
		color fontcolor
		font-weight bold
		
.contact
	background orangecolor
	color white
	min-height 300px
	.phone, .email
		display inline-block
		width 100%
		text-align center
		margin-bottom 1.5em
		span 
			font-size 3em
			display block 
			text-align center 
		h4
			margin 0
	.contact-media
		text-align center
		margin-bottom 1.5em
		.facebook, .twitter, .linkedin
			color white 
			font-size 3em 
			&:hover 
				cursor pointer
	.form-contact
		text-align center
		display inline-block
		margin 0 auto
		width 100%
		input, textarea
			border none 
			border-radius 5px 
			display block
			margin .5em auto
			padding .5em
			width 280px
			color black
		.submit 
			background backcolor2
			border none
			border-radius 5px 
			color white
			margin-bottom .5em 
			padding .5em 
			width 200px
		h2 
			color white
			padding 0
			text-align center
		
.container
	background #fff
	max-width 1024px 
	margin 0 auto
.disabled 
	background backcolor
	cursor wait
	
.display-menu 
	position absolute
	top 10px 
	right 10px
	
input:required:invalid
	border none

.item 
	display block
	margin 1em .5em 1em 1.5em
	
.item-info
	padding-left 1.2em
	h3 
		color orangecolor
		font-weight normal
		margin 0
		line-height 1.5em
		a
			color orangecolor
			&:visited
				color orangecolor
			&:hover
				color orangecolor
	p
		margin 0
		color fontcolor
.experience
		.item
			.description 
				padding .5em 0
.icon 
	color orangecolor
	display block 
	font-size 1.8em 
	font-style normal 
	margin-left .5em
	margin-top 2px
.line
	height 1px 
	border .5px solid fontcolor
	background fontcolor
	margin 0 auto
	width 90%
.menu
	display none
	background #1E1E1E
	position absolute
	right 0
	left 0
	top 35px
.menu ul 
	list-style none
	margin 0
	padding 0
.menu ul li 
	display block
.menu ul li a 
	color white 
	display block
	padding .8em
	text-transform uppercase
.percent 
	display inline-block
	line-height 110px
	z-index 2
	width 100%
	&:after
		content '%'
	  	margin-left 0.1em
	  	font-size .8em
.title 
	display inline-block
	position relative
	width 100% 
	h2 
		color orangecolor 
		position absolute 
		top 5px 
		left 1.5em 

@media screen and (min-width 768px)
	.about	
		padding-top 48px
		.bio 
			width 90% 
			margin 0 auto
	.contact
		display inline-block
		padding-top .5em
		width 100%
		.contact-info
			width 50%
			display inline-block
		.form-contact
			display inline-block
			margin-left 2em
			vertical-align top
			width auto
	.display-menu
		display none
	.item
		display inline-block
		margin 0
		margin-top 1.5em
		margin-bottom 1em
		vertical-align top
		width 45%
		&:nth-child(even)
			margin-left 1.5em
	.experience
		.item
			display block
			width 90%
			margin-left 1.5em
			.description 
				padding .5em 0
	.menu 
		background #1E1E1E
		display block
		max-width 1024px
		text-align center
		top 0
		width 100%
	.menu ul 
		list-style none
		margin 0
		padding 0
	.menu ul li 
		display inline-block
	.menu ul li a 
		color white 
		display block
		padding .8em