@import 'normalize.styl'


#menuButton-desktop
    display none 

.header 
 	 -webkit-transition all .25s ease-in
       -moz-transition all .25s ease-in
        -ms-transition all .25s ease-in
         -o-transition all .25s ease-in
            transition all .25s ease-in
.header_backgroundColor 
    background-color: black

.nav_borderBottom 
	border-bottom: 1px solid white
 
.parallax_marginTop
	margin-top -70px



@media screen and (min-width: 768px)
    #menuButton-desktop
        display block



