@import 'normalize.styl'
base_color = #414B82

@font-face
  font-family 'icofont'
  src url('../fonts/icofont.eot?-wourf8')
  src url('../fonts/icofont.eot?#iefix-wourf8') format('embedded-opentype'),
 url('../fonts/icofont.woff?-wourf8') format('woff'),
		url('../fonts/icofont.ttf?-wourf8') format('truetype'),
		url('../fonts/icofont.svg?-wourf8#icofont') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"], [class*=" icon-"]
  font-family 'icofont'
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #fff

.icon-facebook
  &:before
    content "\ea8d"

.icon-instagram
  &:before
    content "\ea90"

.icon-twitter
  &:before
    content "\ea92"

.icon-github
  &:before
    content "\eab1"

.icon-linkedin
  &:before
    content "\eac8"

.icon-work
  &:before
    content "\e9ae"

.icon-education
  &:before
    content "\e9b2"

.icon-rss
  &:before
    content "\ea95"

.icon-youtube
  &:before
    content "\ea99"

.icon-vimeo
  &:before
    content "\ea9d"

.icon-flickr
  &:before
    content "\eaa2"

.icon-dropbox
  &:before
    content "\eaaf"

.icon-pinterest
  &:before
    content "\ead1"

.icon-chrome
  &:before
    content "\eae5"

.icon-firefox
  &:before
    content "\eae6"

.icon-IE
  &:before
    content "\eae7"

.icon-opera
  &:before
    content "\eae8"

.icon-safari
  &:before
    content "\eae9"





body 
	font-size 16px

h2 
	font-size 1em !important

.content-icon 
	color white 

.center-icon-timeline
	padding-top 8px

.header_backgroundColor 
  background-color: black


	
.color_transparent
	opacity 0.5

.nav_borderBottom 
	border-bottom: 1px solid white
 
.parallax_marginTop
	margin-top -70px


.opacity_off
  opacity 0

/*Custom material design*/


footer.page-footer
  margin-top 0

.mdi-action-work
	color white

.input-field
  label
    color #fff
  input[type=text]:focus
    border-bottom 1px solid #fff
    box-shadow 0 1px 0 0 #fff
    & + label
      color #fff
  input[type=text].valid
    border-bottom 1px solid #000
    box-shadow 0 1px 0 0 #000
  input[type=text].invalid
    border-bottom 1px solid #000
    box-shadow 0 1px 0 0 #000
     
  input[type=email]:focus
    border-bottom 1px solid #000
    box-shadow 0 1px 0 0 #000
    & + label
      color #000
  input[type=email].valid
    border-bottom 1px solid #000
    box-shadow 0 1px 0 0 #000
  input[type=email].invalid
    border-bottom 1px solid #000
    box-shadow 0 1px 0 0 #000
  textarea
    &:focus
       border-bottom 1px solid #000 !important
       box-shadow 0 1px 0 0 #000 !important
       & + label
        color #000 !important
    &.valid
       border-bottom 1px solid #000
       box-shadow 0 1px 0 0 #000
    &.invalid
       border-bottom 1px solid #000
       box-shadow 0 1px 0 0 #000
  .prefix
    &.active
      color #000

@media screen and (min-width: 768px)
  .icon-logo 
    width 100%
    height 100%
  .header_title 
   	font-size 2em